body {
  color: #44423d;
  background-color: #e4e0d3;
}

a,
button.btn {
  color: #1a4774;
  transition-duration: 0.5s;
  text-decoration: none;
}

a:hover, button.btn:hover {
  color: #547ca4;
  transition-duration: 0.1s;
  text-decoration: underline dotted #547ca4 1px;
}

.c4-izmir {
  --primary-color: #e4e0d3;
}

.fancybox-progress {
  background: #002080;
}
