{{ $leafpages := partial "getleafpages.html" . }}

{{ $showDate := false }}
{{ $showCount := false }}
{{ $showSection := false }}
{{ $translate := false }}
{{ $maxlistlen := false }}

{{ if eq .Kind "page" }}
    {{ warnf "Should not be called here"}}
{{ else if eq .Kind "term" }}
    {{ $showDate = true }}
    {{ $showSection = gt (len $.Site.Sections) 1 }}
{{ else if eq .Kind "taxonomy" }}
    {{ $showCount = true }}
    {{ $translate = true }}
{{ else if eq .Kind "section" }}
    {{ $showDate = true }}
{{ else if eq .Kind "home" }}
    {{ $showDate = true }}
    {{ $showSection = gt (len $.Site.Sections) 1 }}
    {{ if $.Site.Params.paginate }}
        {{ $maxlistlen = $.Site.Params.paginate }}
    {{ end }}
{{ end }}

<ul class="page-list">
    {{ range $idx, $val := $leafpages }}
        {{if or (eq $maxlistlen false) (lt $idx $maxlistlen) }}
            <li>
                <a href="{{ .Permalink }}">
                {{ .Title }}
                </a>
                {{ if $showCount }}
                    ({{ len .Data.Pages }})
                {{ end }}
                {{ if $showSection }} in {{ .Parent.Title | lower }} {{ end }}
                {{ if and $showDate .Date }} on {{ .Date.Format "2006-01-02" }}{{ end }}
            </li>
        {{ end }}
    {{ end }}
</ul>
